<pre>
<span class="yellowTag">function</span> <span class="greenTag">ervaring</span>(){

	<span class="yellowTag">var</span> werk <span class="redTag">=</span> [{
		<span class="greenTag">"werkgever"</span>: "Itelligence",
		<span class="greenTag">"locatie"</span>: "Eindhoven",
		<span class="greenTag">"van"</span>: 03/2013,
		<span class="greenTag">"tot"</span>: "heden",
		<span class="greenTag">"omschrijving"</span>: "Itelligence is een multi-national SAP bedrijf. Voor afdeling
                		e-business ben ik werkzaam als front-end developer. We
                		maken mobile (web)apps voor bedrijven met SAP. Dit door
                		gebruik te maken van de laatste technieken waaronder:
                		AngularJS, Cordova, Bootstrap, HTML5 en CSS3. Mijn werkzaamheden
                		bevatten onder voorstaande ook presenteren bij bedrijven en werken
                		op locatie. Denk hierbij aan het geven van trainingen, presenteren
                  		van demo's en presentaties en ook het minen van requirements door
                  		middel van interactieve workshops."
		},{
		<span class="greenTag">"werkgever"</span>: "ABC-Communications",
		<span class="greenTag">"locatie"</span>: "Eindhoven",
		<span class="greenTag">"van"</span>: 2010,
		<span class="greenTag">"tot"</span>: 2011,
		<span class="greenTag">"omschrijving"</span>: "ABC-Communications is een klein grafisch en communicatie
                		bureau waar ik ben blijven hangen na mijn afstudeerstage. Bij het bedrijf
                  		was ik verantwoordelijk voor het grafisch vormgeven van diverse uitingen voor de klanten."
	        }
          ];

	<span class="yellowTag">var</span> opleidingen <span class="redTag">=</span> [{
		<span class="greenTag">"opleiding"</span>: "ICT Media & Design",
		<span class="greenTag">"locatie"</span>: "Eindhoven",
		<span class="greenTag">"instituut"</span>: "Fontys Hogeschool",
		<span class="greenTag">"periode"</span>: 2008/2012,
		<span class="greenTag">"type"</span>: "diploma"
		},{
		<span class="greenTag">"opleiding"</span>: "Minor Trendwatching",
		<span class="greenTag">"locatie"</span>: "Tilburg",
		<span class="greenTag">"instituut"</span>: "Fontys Hogeschool",
		<span class="greenTag">"periode"</span>: 2012,
		<span class="greenTag">"type"</span>: "certificaat"
		},{
		<span class="greenTag">"opleiding"</span>: "Minor Gamedesign",
		<span class="greenTag">"locatie"</span>: "Eindhoven",
		<span class="greenTag">"instituut"</span>: "Fontys Hogeschool",
		<span class="greenTag">"periode"</span>: 2011,
		<span class="greenTag">"type"</span>: "certificaat"
		},{
		<span class="greenTag">"opleiding"</span>: "Havo (E&M profiel)",
		<span class="greenTag">"locatie"</span>: "Goirle",
		<span class="greenTag">"instituut"</span>: "Mill-hill college",
		<span class="greenTag">"periode"</span>: 2003/2008,
		<span class="greenTag">"type"</span>: "diploma"
		}];

	<span class="yellowTag">var</span> cursussen <span class="redTag">=</span> [{
		<span class="greenTag">"opleiding"</span>: "HTML5 Fundamentals",
		<span class="greenTag">"locatie"</span>: "Eindhoven",
		<span class="greenTag">"instituut"</span>: "Pluralsight",
		<span class="greenTag">"periode"</span>: 2013,
		<span class="greenTag">"type"</span>: "certificaat"
		},{
		<span class="greenTag">"opleiding"</span>: "jQuery Fundamentals",
		<span class="greenTag">"locatie"</span>: "Eindhoven",
		<span class="greenTag">"instituut"</span>: "Pluralsight",
		<span class="greenTag">"periode"</span>: 2013,
		<span class="greenTag">"type"</span>: "certificaat"
	}];

	<span class="yellowTag">var</span> stages <span class="redTag">=</span> [{
		<span class="greenTag">"opdrachtgever"</span>: "ABC-Communications",
		<span class="greenTag">"locatie"</span>: "Eindhoven",
		<span class="greenTag">"periode"</span>: 2011,
		<span class="greenTag">"type"</span>: "Meeloopstage"
		<span class="greenTag">"omschrijving"</span>: "Als medewerker in een klein team grafische middelen
				vormgeven voor klanten. Zowel digitaal als drukwerk."
		},{
		<span class="greenTag">"opdrachtgever"</span>: "Goals Arbeidsmarketing",
		<span class="greenTag">"locatie"</span>: "Goirle",
		<span class="greenTag">"periode"</span>: 2012,
		<span class="greenTag">"type"</span>: "Afstudeerstage"
		    <span class="greenTag">"omschrijving"</span>: "Het ontwikkelen van een webapp op facebook om vraag
				en aanbod van werkgever en werknemer op het gebied van
				online werving beter op elkaar aan te sluiten."
	}];

}
</pre>
