<pre>
<span class="greyTag">/*</span><span class="greyTag">
	Welkom bij mijn Curriculum Vitae. Ik ben Bas van de Pol, 24 jaar en woonachtig in Goirle.
	Sinds 2013 werk ik in Eindhoven als Front-end developer, en in 2012 ben ik afgestudeerd aan
	ICT Media & Design te Fontys Hogescholen Eindhoven. Wilt u meer over me te weten komen?
	Open dan de verschillende files aan de linkerkant van het scherm

	Wilt u direct met me in contact komen? Stuur dan een e-mail naar: basvandepol92@hotmail.com.
</span><span class="greyTag">*/</span>
</pre>
