<pre>
<span class="redTag">#Personalia</span> {
	<span class="redTag">naam</span>: <span class="greenTag">Bas van de Pol</span>;
	<span class="redTag">gebDatum</span>: <span class="yellowTag">14/01/1992</span>;
	<span class="redTag">nationaliteit</span>: <span class="greenTag">Nederlandse</span>;
	<span class="redTag">straat</span>: <span class="greenTag">Kloosterstraat</span> <span class="yellowTag">3-D</span>;
	<span class="redTag">postCode</span>: <span class="yellowTag">5051</span> <span class="greenTag">RB</span>;
	<span class="redTag">woonPlaats</span>: <span class="greenTag">Goirle</span>;
	<span class="redTag">land</span>: <span class="greenTag">Nederland</span>;
	<span class="redTag">telNummer</span>:  <span class="yellowTag">+31 (0)681363812</span>;
	<span class="redTag">eMail</span>: <span class="greenTag">basvandepol92@hotmail.com</span>;
	<span class="redTag">linkedIn</span>: <span class="greenTag">nl.linkedin.com/in/basvandepol92/</span>
};
</pre>
