<pre><code><span class="noTag"><</span>!DOCTYPE html<span class="noTag">></span>
<<span class="yellowTag">html</span>>
<<span class="yellowTag">head</span>>
	<<span class="yellowTag">title</span>>Curriculum Vitae, Bas van de Pol, Front-end developer&lt;/<span class="yellowTag">title</span>>
	<<span class="yellowTag">name</span>=<span class="greenTag">"description"</span> <span class="yellowTag">content</span>=<span class="greenTag">"Bas is een hardwerkend, gedreven en leergierig persoon. Sinds het afronden van zijn HBO opleiding
				     (Fontys Hogescholen Eindhoven; ICT Media & Design) is hij met hoge snelheid nieuwe
				     technieken aan het leren. Zo behoort het ontwikkelen van o.a. android en iOS apps
				     tot zijn kennis en vaardigheden. Bas is een sociaal persoon die zich flexibel
				     binnen een project en team opstelt. Naast het ontwikkelen van apps voor zowel smartphone, tablet en
				     desktop presenteert Bas graag voor een prospect of klant. Denk hierbij aan (pre)sale demo's, presentaties
    				     en requirement workshops. "</span>>

	<<span class="yellowTag">link</span> <span class="redTag">rel</span>=<span class="greenTag">"stylesheet"</span> <span class="redTag">type</span>=<span class="greenTag">"text/css"</span> <span class="redTag">href</span>=<span class="greenTag">"personalia.css"</span>>
	<<span class="yellowTag">style</span> <span class="redTag">src</span>=<span class="greenTag">"ervaring.js"</span> <span class="redTag">type</span>=<span class="greenTag">"text/javascript"</span>><span class="noTag">&lt;/</span><span class="yellowTag">style</span>>
<span class="noTag">&lt;/</span><span class="yellowTag">head</span>>
<<span class="yellowTag">body</span>>
	<<span class="yellowTag">section</span>>
		<<span class="yellowTag">ul</span> <span class="redTag">id</span>=<span class="greenTag">"vaardigheden"</span>>
			<<span class="yellowTag">li</span>>AngularJS&lt;/<span class="yellowTag">li</span>>
			<<span class="yellowTag">li</span>>HTML5&lt;/<span class="yellowTag">li</span>>
			<<span class="yellowTag">li</span>>CSS3&lt;/<span class="yellowTag">li</span>>
			<<span class="yellowTag">li</span>>jQuery&lt;/<span class="yellowTag">li</span>>
			<<span class="yellowTag">li</span>>Cordova/Phonegap&lt;/<span class="yellowTag">li</span>>
			<<span class="yellowTag">li</span>>Bootstrap&lt;/<span class="yellowTag">li</span>>
			<<span class="yellowTag">li</span>>DustJS&lt;/<span class="yellowTag">li</span>>
			<<span class="yellowTag">li</span>>KnockoutJS&lt;/<span class="yellowTag">li</span>>
			<<span class="yellowTag">li</span>>GruntJS&lt;/<span class="yellowTag">li</span>>
			<<span class="yellowTag">li</span>>Bower&lt;/<span class="yellowTag">li</span>>
			<<span class="yellowTag">li</span>>Yeoman&lt;/<span class="yellowTag">li</span>>
			<<span class="yellowTag">li</span>>Node-webkit&lt;/<span class="yellowTag">li</span>>
			<<span class="yellowTag">li</span>>SQLite&lt;/<span class="yellowTag">li</span>>
			<<span class="yellowTag">li</span>>Polymer&lt;/<span class="yellowTag">li</span>>
			<<span class="yellowTag">li</span>>Angular2&lt;/<span class="yellowTag">li</span>>
			<<span class="yellowTag">li</span>>Adobe Photoshop&lt;/<span class="yellowTag">li</span>>
			<<span class="yellowTag">li</span>>Adobe Illustrator&lt;/<span class="yellowTag">li</span>>
			<<span class="yellowTag">li</span>>Adobe InDesign&lt;/<span class="yellowTag">li</span>>
		&lt;/<span class="yellowTag">ul</span>>
	&lt;/<span class="yellowTag">section</span>>
	<<span class="yellowTag">section</span>>
		<<span class="yellowTag">table</span> <span class="redTag">id</span>=<span class="greenTag">"vrijwilligerswerk"</span>>
			<<span class="yellowTag">thead</span>>
				<<span class="yellowTag">tr</span>>
					<<span class="yellowTag">th</span>>Werkzaamheden&lt;/<span class="yellowTag">th</span>>
					<<span class="yellowTag">th</span>>Periode&lt;/<span class="yellowTag">th</span>>
					<<span class="yellowTag">th</span>>Instantie&lt;/<span class="yellowTag">th</span>>
				&lt;/<span class="yellowTag">tr</span>>
			&lt;/<span class="yellowTag">thead</span>>
			<<span class="yellowTag">tbody</span>>
				<<span class="yellowTag">tr</span>>
					<<span class="yellowTag">td</span>>Leiding jeugdgroep&lt;/<span class="yellowTag">td</span>>
					<<span class="yellowTag">td</span>>2010 - heden&lt;/<span class="yellowTag">td</span>>
					<<span class="yellowTag">td</span>>Scouting St. Willibrord Goirle&lt;/<span class="yellowTag">td</span>>
				&lt;/<span class="yellowTag">tr</span>>
				<<span class="yellowTag">tr</span>>
					<<span class="yellowTag">td</span>>Barman&lt;/<span class="yellowTag">td</span>>
					<<span class="yellowTag">td</span>>2010 - 2015&lt;/<span class="yellowTag">td</span>>
					<<span class="yellowTag">td</span>>Stichting Bar ‘t Kelderke Goirle&lt;/<span class="yellowTag">td</span>>
				&lt;/<span class="yellowTag">tr</span>>
			&lt;/<span class="yellowTag">tbody</span>>
		&lt;/<span class="yellowTag">table</span>>
	&lt;/<span class="yellowTag">section</span>>
	<<span class="yellowTag">section</span>>
		<<span class="yellowTag">ul</span> <span class="redTag">id</span>=<span class="greenTag">"hobbys"</span>>
			<<span class="yellowTag">li</span>>Scouting&lt;/<span class="yellowTag">li</span>>
			<<span class="yellowTag">li</span>>Sporten&lt;/<span class="yellowTag">li</span>>
			<<span class="yellowTag">li</span>>Motor rijden&lt;/<span class="yellowTag">li</span>>
			<<span class="yellowTag">li</span>>Festivals&lt;/<span class="yellowTag">li</span>>
			<<span class="yellowTag">li</span>>Duiken&lt;/<span class="yellowTag">li</span>>
			<<span class="yellowTag">li</span>>Skiën&lt;/<span class="yellowTag">li</span>>
		&lt;/<span class="yellowTag">ul</span>>
	&lt;/<span class="yellowTag">section</span>>
<span class="noTag">&lt;/</span><span class="yellowTag">body</span>>
<span class="noTag">&lt;/</span><span class="yellowTag">html</span>>
</code></pre>
